$coul-texte                  : rgb(63, 81, 98);
$coul-liens                  : rgb(0,89,178);

$coul-blanc                  : rgba(255, 255, 255, 0.75);
$coul-noir                   : rgba(0, 0, 0, 0.6);