$default-border-radius       : 4px;
$default-box-shadow-color    : #656565;
$default-box-shadow-h-offset : 3px;
$default-box-shadow-v-offset : 3px;
$default-box-shadow-blur     : 5px;
$default-box-shadow-spread   : 0px;  